# Prduction requirements
-r docker-requirements.txt

# Kedro dependencies 
kedro[all]
kedro-docker

# Software development 
python-dotenv
tqdm
black
ruff

# Data science
jupyterlab
statsmodels 
missingno 
ipython


# Ploting
colorama  
plotly