# Kedro dependencies 
kedro~=0.19.3
kedro-datasets>=1.0
kedro-viz>=6.7.0

# Software development 
python-dotenv
tqdm

# Data science
scikit-learn
jupyterlab
statsmodels 
missingno 
ipython
xgboost
pandas
numpy

# Ploting
matplotlib
colorama  
plotly
seaborn